<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    Moxwell Industries
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://reddit.com">News</a></li>
    </ul>
  </nav>
</footer>
